<a href="https://colab.research.google.com/github/HARSHITA-VERMA-2147249/MACHINE-LEARNING/blob/main/2147249_lab9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd

# Load data
df=pd.read_csv('/content/supermarket_sales - Sheet1.csv')

df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [6]:
# Import LabelEncoder
from sklearn import preprocessing

# Creating labelEncoder
le = preprocessing.LabelEncoder()

# Converting string labels into numbers.
df['Gender']=le.fit_transform(df['Gender'])

In [7]:
df['Unit price'] = df['Unit price'].astype('int')
df['Total'] = df['Total'].astype('int')
df['cogs'] = df['cogs'].astype('int')
df['gross income'] = df['gross income'].astype('int')
df['Rating'] = df['Rating'].astype('int')

In [8]:
df1 = df.drop(['Invoice ID', 'Branch', 'City', 'Customer type', 'Product line', 'Tax 5%', 'Date', 'Time', 'Payment'], axis=1)

In [10]:
# getting the x(dataset excluding the class attribute) and y(class attribute) dataset from class data set
X = df1.drop('Gender',axis=1)
y = df1['Gender']

# Import train_test_split function
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)  # 70% training and 30% test

In [11]:
# Import MLPClassifer 
from sklearn.neural_network import MLPClassifier

# Create model object
clf = MLPClassifier(hidden_layer_sizes=(3,5),
                    random_state=5,
                    verbose=True,
                    learning_rate_init=0.01)

# Fit data onto the model
clf.fit(X_train,y_train)

Iteration 1, loss = 0.69566370
Iteration 2, loss = 0.69269945
Iteration 3, loss = 0.69251544
Iteration 4, loss = 0.69222047
Iteration 5, loss = 0.69236131
Iteration 6, loss = 0.69244987
Iteration 7, loss = 0.69260854
Iteration 8, loss = 0.69236635
Iteration 9, loss = 0.69249914
Iteration 10, loss = 0.69254194
Iteration 11, loss = 0.69234743
Iteration 12, loss = 0.69221539
Iteration 13, loss = 0.69284330
Iteration 14, loss = 0.69245910
Iteration 15, loss = 0.69272383
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(hidden_layer_sizes=(3, 5), learning_rate_init=0.01,
              random_state=5, verbose=True)

In [12]:
# Make prediction on test dataset
ypred=clf.predict(X_test)

# Import accuracy score 
from sklearn.metrics import accuracy_score

# Calcuate accuracy
accuracy_score(y_test,ypred)

0.4533333333333333