<a href="https://colab.research.google.com/github/HARSHITA-VERMA-2147249/MACHINE-LEARNING/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
 
uploaded = files.upload()

In [2]:
import pandas as pd
import io
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.cluster import KMeans
%matplotlib inline
import warnings
from sklearn.preprocessing import LabelEncoder
warnings.filterwarnings('ignore')

df = pd.read_csv(io.BytesIO(uploaded['/content/supermarket_sales - Sheet1.csv']))
print(df.head().to_markdown())

In [3]:
from dataclasses import dataclass
import pandas as pd
df = pd.read_csv("/content/supermarket_sales - Sheet1.csv", encoding= 'unicode_escape')
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelEn = LabelEncoder()
df['Gender'] = labelEn.fit_transform(df['Gender'])
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,0,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,0,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,1,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,1,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,1,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,1,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,0,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,1,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,1,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,0,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [ ]:
df['Unit price'] = df['Unit price'].astype('int')
df['Total'] = df['Total'].astype('int')
df['cogs'] = df['cogs'].astype('int')
df['gross income'] = df['gross income'].astype('int')
df['Rating'] = df['Rating'].astype('int')

In [ ]:
df1 = df.drop(['Invoice ID', 'Branch', 'City', 'Customer type', 'Product line', 'Tax 5%', 'Date', 'Time', 'Payment'], axis=1)

In [ ]:
df1

,Gender,Unit price,Quantity,Total,cogs,gross margin percentage,gross income,Rating
0,0,74,7,548,522,4.761905,26,9
1,0,15,5,80,76,4.761905,3,9
2,1,46,7,340,324,4.761905,16,7
3,1,58,8,489,465,4.761905,23,8
4,1,86,7,634,604,4.761905,30,5
...,...,...,...,...,...,...,...,...
995,1,40,1,42,40,4.761905,2,6
996,0,97,10,1022,973,4.761905,48,4
997,1,31,1,33,31,4.761905,1,7
998,1,65,1,69,65,4.761905,3,4
999,0,88,7,649,618,4.761905,30,6

In [ ]:
#split dataset in features and target variable
feature_cols = ['Unit price', 'Quantity','Total','gross margin percentage','gross income','Rating']
X = df1[feature_cols] # Features
y = df1.Gender # Target variable

In [4]:
# importing the sklearn library
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split  
from sklearn.preprocessing import StandardScaler 
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import roc_auc_score

In [ ]:
#Split data into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=20, random_state=4)

In [ ]:
# Initialize variables
learning_rate = 0.1
iterations = 5000
N = y_train.size

# number of input features
input_size = 4

# number of hidden layers neurons
hidden_size = 2 

# number of neurons at the output layer
output_size = 3  

results = pd.DataFrame(columns=["mse", "accuracy"])

In [ ]:
# Initialize weights
np.random.seed(10)

# initializing weight for the hidden layer
W1 = np.random.normal(scale=0.5, size=(input_size, hidden_size))   

# initializing weight for the output layer
W2 = np.random.normal(scale=0.5, size=(hidden_size , output_size))

In [ ]:
def sigmoid(x):
    return 1 / (1 + np.exp(-x))

def mean_squared_error(y_pred, y_true):
    return ((y_pred - y_true)**2).sum() / (2*y_pred.size)
    
def accuracy(y_pred, y_true):
    acc = y_pred.argmax(axis=1) == y_true.argmax(axis=1)
    return acc.mean()

In [6]:
for itr in range(iterations):    
    
    # feedforward propagation
    # on hidden layer
    Z1 = np.dot(X_train, W1)
    A1 = sigmoid(Z1)

    # on output layer
    Z2 = np.dot(A1, W2)
    A2 = sigmoid(Z2)
    
    
    # Calculating error
    mse = mean_squared_error(A2, y_train)
    acc = accuracy(A2, y_train)
    results=results.append({"mse":mse, "accuracy":acc},ignore_index=True )
    
    # backpropagation
    E1 = A2 - y_train
    dW1 = E1 * A2 * (1 - A2)

    E2 = np.dot(dW1, W2.T)
    dW2 = E2 * A1 * (1 - A1)

    
    # weight updates
    W2_update = np.dot(A1.T, dW1) / N
    W1_update = np.dot(X_train.T, dW2) / N

    W2 = W2 - learning_rate * W2_update
    W1 = W1 - learning_rate * W1_update

NameError: ignored

# gfg

In [ ]:
# X --> input dataset of shape (input size, number of examples)
# Y --> labels of shape (output size, number of examples)

W1 = np.random.randn(4, X.shape[0]) * 0.01
b1 = np.zeros(shape =(4, 1))

W2 = np.random.randn(y.shape[0], 4) * 0.01
b2 = np.zeros(shape =(y.shape[0], 1))

In [ ]:
# Here Y is actual output
def compute_cost(A2, Y):
	m = Y.shape[1]
	# implementing the above formula
	cost_sum = np.multiply(np.log(A2), Y) + np.multiply((1 - Y), np.log(1 - A2))
	cost = - np.sum(logprobs) / m
	
	# Squeezing to avoid unnecessary dimensions
	cost = np.squeeze(cost)
	return cost

In [ ]:
def back_propagate(W1, b1, W2, b2, cache):

	# Retrieve also A1 and A2 from dictionary "cache"
	A1 = cache['A1']
	A2 = cache['A2']

	# Backward propagation: calculate dW1, db1, dW2, db2.
	dZ2 = A2 - Y
	dW2 = (1 / m) * np.dot(dZ2, A1.T)
	db2 = (1 / m) * np.sum(dZ2, axis = 1, keepdims = True)

	dZ1 = np.multiply(np.dot(W2.T, dZ2), 1 - np.power(A1, 2))
	dW1 = (1 / m) * np.dot(dZ1, X.T)
	db1 = (1 / m) * np.sum(dZ1, axis = 1, keepdims = True)
	
	# Updating the parameters according to algorithm
	W1 = W1 - learning_rate * dW1
	b1 = b1 - learning_rate * db1
	W2 = W2 - learning_rate * dW2
	b2 = b2 - learning_rate * db2

	return W1, W2, b1, b2

In [ ]:
# Please note that the weights and bias are global
# Here num_iteration is epochs
for i in range(0, num_iterations):
	
		# Forward propagation. Inputs: "X, parameters". return: "A2, cache".
		A2, cache = forward_propagation(X, W1, W2, b1, b2)
		
		# Cost function. Inputs: "A2, Y". Outputs: "cost".
		cost = compute_cost(A2, Y)

		# Backpropagation. Inputs: "parameters, cache, X, Y". Outputs: "grads".
		W1, W2, b1, b2 = backward_propagation(W1, b1, W2, b2, cache)
		
		# Print the cost every 1000 iterations
		if print_cost and i % 1000 == 0:
			print ("Cost after iteration % i: % f" % (i, cost))

NameError: ignored

# ahgd

In [ ]:
def to_one_hot(Y):
    n_col = np.amax(Y) + 1
    binarized = np.zeros((len(Y), n_col))
    for i in range(len(Y)):
        binarized [i, Y[i]] = 1.
    return binarized
#Let us now define a sigmoid function
def sigmoid_func(x):
    return 1/(1+np.exp(-x))
def sigmoid_derivative(x):
    return sigmoid_func(x)*(1 – sigmoid_func(x))

SyntaxError: ignored